@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Schoolbell", serif;
}
*::before, *::after {
  box-sizing: border-box;
}

svg {
  line-height: 0;
}

body {
  line-height: 1.5;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
  background-color: #ffddec;
  background: radial-gradient(circle, rgb(245, 235, 239) 0%, rgb(255, 221, 236) 100%);
  transition: background-color 0.3s, color 0.3s;
  user-select: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.section-title {
  font-family: "Schoolbell", "DM Serif Display", serif;
  font-size: 10vw;
  text-wrap: balance;
  overflow-wrap: break-word;
  width: fit-content;
  color: #7a3f59;
}
@media screen and (min-width: 450px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .section-title {
    font-size: 2.5em;
  }
}

h1 {
  text-align: center;
}
@media screen and (min-width: 750px) {
  h1 {
    font-size: 4em;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p {
  text-wrap: pretty;
  overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

#root,
#__next {
  isolation: isolate;
}

.body--wrapper {
  display: flex;
  flex-direction: column;
  padding: 2em;
  position: relative;
  z-index: 2;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
  width: 100%;
  background: rgba(236, 187, 217, 0.75);
  border-radius: 2em;
  margin: 4em auto 0 auto;
}
.body--wrapper .heart {
  height: 58em;
  fill: red;
}

.form--wrapper {
  margin-top: 2em;
  display: flex;
  gap: 1.5em;
  user-select: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 8vw;
}
.form--wrapper label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4em;
  cursor: pointer;
  color: #7a3f59;
  font-weight: 600;
}
.form--wrapper input {
  appearance: none;
  border-radius: 0;
  width: 0.95em;
  height: 0.95em;
  border: 0.1em solid #a75c7c;
  transition: 0.2s all linear;
  border-radius: 0.2em;
  position: relative;
  cursor: pointer;
}
.form--wrapper input:checked {
  border: 0.1em solid #a75c7c;
  background-color: #7a3f59;
}
@media screen and (min-width: 450px) {
  .form--wrapper {
    font-size: 2em;
  }
}

@keyframes subtleFloat {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.23em);
  }
  100% {
    transform: translateY(0.1em);
  }
}
.floating-element {
  position: absolute;
  animation: subtleFloat 4s ease-in-out infinite alternate;
}

.heart-img {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
@media screen and (min-width: 750px) {
  .heart-img {
    right: 9em;
    top: 50%;
  }
}

.rose-img {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}
@media screen and (min-width: 750px) {
  .rose-img {
    left: 9em;
    top: 10em;
  }
}

.letter {
  max-width: 1600px;
  margin: 17em auto 0 auto;
  text-align: center;
  padding: 2em;
  display: none;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
  background: rgba(236, 187, 217, 0.75);
  border-radius: 2em;
  max-height: 40em;
  height: fit-content;
}
.letter h1 {
  width: fit-content;
  margin: auto;
  margin: 0.5em;
  font-size: 6vw;
}
.letter p {
  color: #7a3f59;
  font-size: 5.5vw;
  overflow: auto;
  max-height: 17em;
}
@media screen and (min-width: 750px) {
  .letter {
    margin: 4em auto 0 auto;
  }
  .letter h1 {
    font-size: 4em;
  }
  .letter p {
    max-height: 20em;
    font-size: 2em;
  }
}

.myS {
  position: absolute;
  left: -200em;
  margin-top: 2em;
}

.swiper {
  width: 13em;
  height: 17em;
}
@media screen and (min-width: 750px) {
  .swiper {
    width: 20em;
    height: 25em;
  }
}
@media screen and (min-width: 1029px) {
  .swiper {
    width: 25em;
    height: 32em;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  width: fit-content;
}/*# sourceMappingURL=style.css.map */